body {
    font-family: 'Actor', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
}
#map-container{
    position: relative;
}
#map{
    height: 50%;
    width: 50%;
    top: 50%; /* Adjust the vertical position as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding-bottom: 20px;
    display: none;
}

#close-btn{
    position: fixed;
    top: 50%; /* Adjust the vertical position as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 70px;
    height: 40px;
    margin-top: 17%;
    border-radius: 8px;
    background-color: #CD5E77;
    font-size: 13px;
    border: 1px solid #F4C2C2;
    display: none;
}
.login-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F4C2C2;
    padding: 20px;

}

h3, form, button {
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
}
h3{
    font-size: 25px;
    margin-bottom: 70px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}
label{
    font-weight: bold;
    font-size: 13px;;
}

input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.form {
    width: 100%; 
    max-width: 400px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.image {
    flex: 1;
    background: url('login.jpg') center/cover no-repeat;
    width: 60%; 
    
}


hr{
    color: black;
    width: 250px;
    border: 2px solid black;
    margin-top: -35px;
    
}
.logo .highlight{
    color: red;
}

.logo{
    margin-top: -5px;
}

#login-button{
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    background-color: red;
    color: white;
    margin-left: 80px;
}
#create-btn{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#signup-button{
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    background-color: red;
    color: white;
    margin-left: 80px;
}

p{
    font-weight: bold;

}


.page-mask {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

#index-body {
    font-family: 'Actor', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.welcomePart {
    width: 100%;
    background-image:url(index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 750px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid whitesmoke;
}
input{
    display: block;
    text-align: center;
    font-weight: bold;
    border: none;
}
.wrapper {
    width: 500px;
    margin-left: 30px;
    color: whitesmoke;
    margin-top: -300px;
}

#index-logo {
    font-size: 80px;
    text-align: left;
    margin-bottom: 50px;
}
#index-logo .highlight {
    color: red;
}

.search {
    display: flex;
    flex-direction: column;


}

.searchbar {
    width: 370px;
    height: 40px;
    border-radius: 200px;
    background: whitesmoke;
    margin-bottom: 20px;
    display: flex;
    margin-right: 10px;

}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

select {
    outline: none;
    appearance: none;
    width: 175px;
    height: 100px;
    text-align: center;
    border: none;
    font-weight: bold;
    color: grey;
    background: blanchedalmond;
    text-transform: uppercase;
}

select:hover {
    background: maroon;
    cursor: pointer;
    border-right: none;
    padding-right: 0;
    color: grey;
    transition: 0.25s;
}

.option {
    background: blanchedalmond;
    color: black;
    position: relative;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 18px;



}
select option {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

option:hover {
    background-color: maroon;
    color: white;
    border-radius: 5px;
    transition: 0.25s;

}


#searchButton {
    display: block;
    text-align: center;
    border-radius: 200px;
    color: white;
    background: red;
    height: 40px;
    width: 120px;
    font-weight: bold;
    margin-left: 120px;
    border: none;
}

#searchButton:hover {
    color: black;
    background: blanchedalmond;
    transition: 0.5s;
    box-shadow: 3px 3px 3px dimgray;
}

.selectedItems {
    width: 700px;
    height: 50px;
    border-radius: 360px;
    background: whitesmoke;
    padding: 6px 5px 4px 5px;
    border: 2px whitesmoke solid;
    display: flex;
    flex-direction: row;
    margin-left: -55px;
}

.imgWrapper {
    background-size: cover;
    border-left: 1px solid whitesmoke;
    height: 750px;
    width: 750px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    margin: 0 100px;
    color: whitesmoke;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.intro h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.separator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    width: 100%;
    background: #F4C2C2;

}

.separator.background div {
    padding: 25px 75px;
    text-align: center;
}

.resultSection {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.generatedResult {
    background: #EBA7AC;
    padding: 20px;
    border-radius: 5px;
}

.row {
    color: black;
    text-transform: capitalize;
    width: 1000px;
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px lightgray solid;
    display: flex;
    flex-direction: row;
}

.row:not(.row:first-of-type):hover {
    transition: 0.2s;
    background: #E17F93;
    color: whitesmoke;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
}

.row:hover .separateResult:last-of-type {
    font-size: 12px;
    font-weight: normal;
}

.row:hover .tableButton {
    color: whitesmoke;
}

.row:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

.separateResult {
    display: flex;
    padding: 10px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 140px;
}

.separateResult:last-of-type {
    width: 400px;
}

.separateResult a {
    color: #CD5E77;
}

.tableButton {
    border: none;
    padding: 0;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #CD5E77;
}

.tableButton:hover {
    font-size: 30px;
    transition: 0.25s;
}

/*.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}*/
/* Add this style to your CSS or style tag */
/* Add this style to your CSS or style tag */
.cardVisible {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Adjust the maximum width as needed */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
    .cardVisible {
        max-width: 90%; /* Adjust the maximum width for smaller screens */
    }
}


.additionalInfoTitle {
    font-weight: bold;
}

.dialog1, .dialog2 {
    background: whitesmoke;
    color: #CD5E77;
    padding: 50px 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid whitesmoke;
}

.dialog1 label, .dialog2 label {
    width: 300px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.dialogTitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.ui-dialog-buttonset {
    text-align: center;
}

button.ui-button {
    color: #CD5E77;
    background: whitesmoke;
    margin: 10px auto;
    border: 1px solid #CD5E77;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

button.ui-button:hover {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #CD5E77;
    border: 1px solid #CD5E77;
    background: whitesmoke;
    transition: 0.25s;
    box-shadow: 3px 3px 3px dimgray;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: white 2px solid;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0.5vw 1.2vw 0.8vw;
    border-radius: 10px;
    font-size: 1.5vw;
}

#myBtn:hover {
    background: #CD5E77;
    transition: 0.5s;
    box-shadow: 3px 3px 3px dimgray;
}
